<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Registrierungseinladung</title>
    </head>
    <body>
        <h1>Willkommen!</h1>
        <p>Wir freuen uns, dass Sie sich registrieren möchten. Bitte klicken Sie auf den untenstehenden Link, um Ihre Registrierung abzuschließen:</p>
        <p><%= link_to 'Registrieren', registration_url %></p>
        <p>Vielen Dank!</p>
    </body>
</html>