<div class="mx-auto md:w-2/3 w-full flex flex-col items-center justify-center min-h-[70vh]">
  <div class="bg-white shadow-lg rounded-xl p-8 w-full max-w-3xl">
    <h1 class="font-bold text-4xl mb-8 text-center"><%= I18n.t("categories.edit_category", default: "Kategorien bearbeiten") %></h1>

    <div class="mb-6">
      <%= render "form", category: @category %>
    </div>
  </div>
</div>
