<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

<nav class="fixed top-0 left-0 w-full bg-gray-50 border-gray-200 dark:bg-gray-800 dark:border-gray-700 z-10" x-data="{ open: false }">
  <div class="w-full flex items-center justify-between p-4">
    <!-- Logo -->
    <a href="/" class="flex items-center text-2xl font-bold text-gray-900 dark:text-white">
      <%= image_tag 'Logo.jpg', alt: 'Exproware', class: 'w-24 sm:w-32 md:w-48 lg:w-64' %>
    </a>
  </div>
</nav>

<script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>
